<div *ngIf="posts.length>0;else noPostsFoundBlock">
    <ul>
        <li *ngFor="let post of posts">
            <p>
                  {{post.title}}
                  <span><a routerLink="{{'/posts/'+post._id}}">readmore</a></span>
                | <span><a routerLink="{{'/posts/edit/'+post._id}}">edit</a></span>
            </p>
        </li>
    </ul>
    <button (click)="prevPosts()">Prev Posts</button>
    <button (click)="nextPosts()">Next Posts</button>
</div>

<ng-template #noPostsFoundBlock>no posts found...</ng-template>